<div class="container">
  <div class="button-container">
    <button class="btn btn-primary btn-block">
      <a [routerLink]="['/new']">Dodaj destynację</a>
    </button>
  </div>
  <div class="country">
    <h3>Lokalizacje:</h3>
    <ul>
      <li class="list" *ngFor="let element of results">
        <a [routerLink]="['destination/', element.id]"
          >{{ element.name }} Kraj: {{ element.parentLocation.name }}</a
        >
      </li>
      <li class="list" *ngFor="let element of myDataArr">
        <a [routerLink]="['destination/', element.id]"
          >{{ element.name }} Kraj: {{ element.code }}</a
        >
      </li>
    </ul>
  </div>
</div>
